---
date: On Going
subject: Coming Soon! Certified Strength
layout: promo
published: true
content: 1612-csts
twitter:
  image: http://static.nccpt.com/images/csts-web-cover-f-v161222.jpg
og:
  url: https://www.nccpt.com/
  image: http://static.nccpt.com/images/csts-web-cover-f-v161222.jpg
  description: Certifications Available from NCCPT.
  link: "https://www.nccpt.com/"
finePrint:
coupon:
---

<tr>
	<td>
		<table class="container">

			<tr>
				<td>
					<a href="{{link}}">
						<img src="{{twitter.image}}" class="img-responsive" alt="{{{subject}}}" />
					</a>
				</td>
			</tr>

			{{spacer 32}}

			<!-- Offer -->
			<tr>
				<td>
					<table>
						<tr>
							{{col-spacer}}
							<td class="p">
								{{{md content}}}
							</td>
							{{col-spacer}}
						</tr>
					</table>
				</td>
			</tr>

			{{spacer 16}}

			<!-- contact buttons phone/email -->
			{{contact-btn-row "https://www.nccpt.com/"}}
			{{spacer 16}}
		</table>
	</td>
</tr>
