---
date: On Going
subject: Here's your promo code
layout: promo
published: true
content: test-content
twitter:
  image: http://static.nccpt.com/images/cpt-email-response.jpg
og:
  url: https://www.nccpt.com/study-package
  image: http://static.nccpt.com/images/cpt-email-response.jpg
  description: Certifications Available from NCCPT.
  link: "https://www.nccpt.com/study-package"
finePrint:
coupon: MFPT16
---

<tr>
	<td>
		<table class="container">

			<tr>
				<td>
					<a href="{{link}}">
						<img src="{{twitter.image}}" class="img-responsive" alt="{{{subject}}}" />
					</a>
				</td>
			</tr>
			{{spacer 16}}

			<!-- headline -->
			<tr>
				<td class="h1 align-center">
					Getting started is the hard part, this will make it easier.
				</td>
			</tr>

			{{spacer 16}}

			<!-- Promo code -->
			<tr>
				<td class="h2 align-center">
					Use promo code: {{coupon}}
				</td>
			</tr>

			{{spacer 32}}

			<!-- Offer -->
			<tr>
				<td>
					<table>
						<tr>
							{{col-spacer}}
							<td class="p">
								{{{md content}}}
							</td>
							{{col-spacer}}
						</tr>
					</table>
				</td>
			</tr>

			{{spacer 16}}

			<!-- contact buttons phone/email -->
			{{contact-btn-row "https://www.nccpt.com/study-package"}}
			{{spacer 16}}
		</table>
	</td>
</tr>
