--- 
date: On Going 
subject: Here's your promo code 
layout: mf-code 
published: true 
twitter: 
  image: http://static.nccpt.com/images/cpt-email-response.jpg 
og: 
  url: https://www.nccpt.com/study-package 
  image: http://static.nccpt.com/images/cpt-email-response.jpg 
  description: Certifications Available from NCCPT. 
  link: "https://www.nccpt.com/study-package" 
finePrint: "* Internet access required. <br> **Every package provides our students one exam attempt. In addition, all enrollees must take the exam within six months of purchase; retakes must be purchased separately with a maximum retake allowance of three attempts. There are no prerequisites to take the exam. The NCCPT recommends that you adequately prepare before attempting your exam the first time. We will even provide you with a list of open resources you can utilize to prepare. The course must be completed within twelve months of purchase date." 
coupon: MFPT16 
---

<tr>
	<td>
		<table class="container">
		
			<tr>
				<td>
					<a href="{{link}}">
						<img src="{{twitter.image}}" class="img-responsive" alt="{{{subject}}}" />
					</a>
				</td>
			</tr>
			{{spacer 16}}
		
			<!-- headline -->
			<tr>
				<td class="h1 align-center">
					Getting started is the hard part, this will make it easier.
				</td>
			</tr>

			{{spacer 16}}
			
			<!-- Promo code -->
			<tr>
				<td class="h2 align-center">
					Use promo code: {{coupon}}
				</td>
			</tr>
			
			{{spacer 32}}

			<!-- Offer -->
			<tr>
				<td>
					<table>
						<tr>
							{{col-spacer}}
							<td class="p">
							
								{{#markdown}} 
## Online Study Package includes*: 
						
- Online access to the "Power of Personal Training" Manual 
- Online videos. See the exercises performed and explained, using equipment you will find in most gyms. 
- One (1) exam attempt** 

Regular Price: $399 
					
The discount price is __$249__ (Save $150) 
						{{/markdown}}
							</td>
							{{col-spacer}}
						</tr>
					</table>
				</td>
			</tr>
			{{spacer 16}}

			<!-- contact buttons phone/email -->
			{{contact-btn-row "https://www.nccpt.com/study-package"}} 
			{{spacer 16}}
		</table>
	</td>
</tr>