<!-- featured trainer -->
<tr class="featured-trainer">
	<td>
		<table class="container">
			<tr>
				<td>
					<table class="col-6">
						<tr>
							<td height="32" class="spacer-32">&nbsp;</td>
						</tr>
						<!-- spacer -->
						<!-- headshot -->
						<tr>
							<td>
								<img style="max-width: 100%; display: block" src="{{ billmurray.featured.image }}" alt="{{ billmurray.featured.name }}">
							</td>
						</tr>
						<!-- end headshot -->
						<tr height="16" class="spacer-16">
							<td>&nbsp;</td>
						</tr>
						<!-- spacer -->
						<!-- name -->
						<tr>
							<td class="h2 light-text">
								Featured Trainer: {{{ billmurray.featured.name }}}
							</td>
						</tr>
						<!-- end name -->
						<tr height="16" class="spacer-16">
							<td>&nbsp;</td>
						</tr>
						<!-- spacer -->
						<!-- excerpt -->
						<tr>
							<td class="p" style="color: #fff;">
								{{{ billmurray.featured.excerpt }}}
							</td>
						</tr>
						<!-- end excerpt -->
						<tr height="8" class="spacer-8">
							<td>&nbsp;</td>
						</tr>
						<!-- spacer -->
						<!-- btn -->
						<tr>
							<td align="center">
								<a href="{{ billmurray.featured.link }}" target="_blank" class="btn btn-default">Keep Reading&hellip;</a>
							</td>
						</tr>
						<tr>
							<td height="32" class="spacer-32">&nbsp;</td>
						</tr>
						<!-- spacer -->
					</table>
					<!-- end .col-6 -->
				</td>
			</tr>
		</table>
		<!-- end .container -->
	</td>
</tr>
<!-- end featured Trainer -->
