<!-- 1611 black friday section -->
<tr class="light-text" bgcolor="#000000">
  <td>
    <table class="container">

      <tr>
        <td>
          <table class="col-6">

            <!-- content -->
            <tr>
              <td colspan="3">
								<a href="https://www.nccpt.com/black-friday" title="{{{ og.description }}}"><img src="http://static.nccpt.com/images/1611-BF-banner.jpg" alt="This Black Friday get 60% off any Certification (restrictions apply)" width="600" class="light-text" /></a>


              </td>
            </tr>
						{{spacer 16}}
						<tr>
							{{col-spacer}}
							<td>
								<table>
									<tr>

										<td class="h1 light-text">
											This Black Friday get 60% off any Certification*
										</td>

									</tr>
									{{spacer 26}}
									<tr>

										<td class="light-text">
											<ul>
												<li><a href="https://www.nccpt.com/certified-personal-trainer">Certified Personal Trainer (NCCA accredited)</a></li>
												<li><a href="https://www.nccpt.com/certified-yoga-instructor">Certified Yoga Instructor</a></li>
												<li><a href="https://www.nccpt.com/certified-indoor-cycling-instructor">Certified Indoor Cycling</a></li>
												<li><a href="https://www.nccpt.com/certified-kickboxing-instructor">Certified Kickboxing Instructor</a></li>
												<li><a href="https://www.nccpt.com/certified-group-exercise-instructor">Certified Group X Instructor</a></li>
												<li><a href="https://www.nccpt.com/certified-powerlifting-instructor">Certified Power Lifting Instructor</a></li>
												<li><a href="https://www.nccpt.com/certified-senior-fitness-specialist">Certified Senior Fitness Instructor</a></li>
												<li><a href="https://www.nccpt.com/certified-youth-fitness-specialist">Certified Youth Fitness</a></li>
												<li><a href="https://www.nccpt.com/certified-weight-management-specialist">Certified Weight Management Specialist</a></li>
											</ul>
										</td>

									</tr>
									<tr>

										<td class="light-text">
											<a href="https://www.nccpt.com/recertification#ceus" title="All NCCPT CEU Course on sale!">
												<img src="http://static.nccpt.com/images/1611-CEUs-image.jpg" alt="Up to 60% off CEU Courses" />
											</a>
										</td>

									</tr>
									{{spacer 26}}
								</table>
							</td>
							{{col-spacer}}
						</tr>
						<!-- end content -->
            {{spacer 16}}
          </table>
					<!-- end col-6 -->
        </td>
      </tr>
      {{spacer 32}}
    </table>
    <!-- end container -->
  </td>
</tr>
<!-- end 1611 black friday section -->
