<!-- blog articles -->
{{#each content.blog }}
<tr class="blog">
  <td>
    <table class="container">
      <tr>
        <td height="32" class="spacer-32">&nbsp;</td>
      </tr>
      <!-- spacer -->
      {{#if subhead}}
      <!-- subhead	 -->
      <tr>
        <td>
          <table class="container">
            <tr>
              <td class="subhead" width="16">&nbsp;</td>
              <td class="h2">
                {{{ subhead }}}
              </td>
            </tr>
            <tr height="32">
              <td class="spacer-32">&nbsp;</td>
            </tr>
            <!-- spacer -->
          </table>
          <!-- end container -->
        </td>
      </tr>
      <!-- end subhead -->
      {{/if}}
      <!-- article -->
      <tr>
        <td>
          <!-- panel, blog content will be in here. -->
          <table class="col-6">
            <tr>
              <td class="h3">
                {{{ title }}}
              </td>
            </tr>
            <tr height="32">
              <td class="spacer-32">&nbsp;</td>
            </tr>
            <!-- spacer -->
            <tr>
              <td>
                <table class="blog-panel">
                  <tr>
                    <!-- thumbnail -->
                    <td class="col-2">
                      <img src="{{ thumbnail }}" class="blog-thumbnail" width="194">
                    </td>
                    <!-- end thumbnail -->
                    <!-- horizontal space -->
                    <td width="16" class="col-spacer hidden-sm">&nbsp;</td>
                    <!-- end space -->
                    <!-- blog copy -->
                    <td class="col-4">
                      <table class="blog-copy">
                        <tr>
                          <td>
                            <!-- copy -->
                            <table>
                              <tr height="8" class="spacer-8">
                                <td>&nbsp;</td>
                              </tr>
                              <!-- spacer -->
                              <tr>
                                <td class="p">
                                  {{{ excerpt }}}
                                </td>
                              </tr>
                              <tr height="16" class="spacer-16">
                                <td>&nbsp;</td>
                              </tr>
                              <!-- spacer -->
                              {{#if this.ceus}}
                              <tr>
                                <td class="col-6">

                                  <table align="center" class="ceu">
                                    <tr>
                                      <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                      <td valign="center">
                                      <span class="ceus">
                                      <a href="{{ link }}" target="_blank" class="">
                                      {{{ceus}}} CEU's &emsp;
                                        </a>
                                        </span>
                                        </td>
                                    </tr>
                                    <tr>
                                      <td>&nbsp;</td>
                                    </tr>
                                  </table>

                                </td>
                              </tr>
                              <tr height="16" class="spacer-16">
                                <td>&nbsp;</td>
                              </tr>
                              <!-- spacer -->
                              {{/if}}
                              <tr>
                                <td align="center">
                                  <a href="{{ link }}" target="_blank" class="btn btn-default">Read More!</a>
                                </td>
                              </tr>
                              <!-- end button -->
                              <tr height="16" class="spacer-16">
                                <td>&nbsp;</td>
                              </tr>
                              <!-- spacer -->
                            </table>
                            <!-- end copy -->
                          </td>
                        </tr>
                      </table>
                    </td>
                    <!-- end blog copy -->
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!-- end blog panel -->
        </td>
      </tr>
      <!-- end article -->
      <tr height="32" style="border-bottom: 1px solid #d1d1d1">
        <td class="spacer-32">&nbsp;</td>
      </tr>
      <!-- spacer -->
    </table>
    <!-- end container -->
  </td>
</tr>
{{/each}}