<tr height="16"><td class="spacer-16">&nbsp;</td></tr><!-- spacer -->

<!-- hero image -->
<tr>
	<td>
		<table class="container">
			<tr>
				<td>
					<a href="{{nccpt-vars.hero.link }}" target="_blank">
						<img src="{{ nccpt-vars.hero.image }}" alt="{{ nccpt-vars.hero.alt }}">
					</a>
				</td>
			</tr>
		</table>
	</td>
</tr>
<!-- end hero -->

<tr height="32"><td class="spacer-32">&nbsp;</td></tr><!-- spacer -->

<!-- lead -->
<tr class="main">
	<td>
		<table class="container">
			<tr>
				<td class="h1">
					{{{ nccpt-vars.hero.title }}}
				</td>
			</tr>
			<tr height="16">
				<td class="spacer-16">&nbsp;</td>
			</tr>
			<!-- spacer -->

			<tr>
				<td class="p">
					{{{ nccpt-vars.hero.excerpt }}}
				</td>
			</tr>

		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end lead -->

<tr height="32"><td class="spacer-32">&nbsp;</td></tr><!-- spacer -->
