<!-- hero -->
<tr class="hero">
  <td>
    <table class="container">


					{{#if content.hero.image}}
					{{spacer 16}}
          <!-- hero image -->

          <tr>
            <td class="col-6 align-center">
							{{#if content.hero.link}}
              <a href="{{content.hero.link }}" target="_blank">
                <img width="600" src="{{ content.hero.image }}" alt="{{ content.hero.alt }}">
              </a>
							{{else}}
								<img width="600" src="{{ content.hero.image }}" alt="{{ content.hero.alt }}">
							{{/if}}
            </td>
          </tr>

          <!-- end hero -->


					{{/if}}
					{{spacer 32}}
          <!-- lead -->
          <tr class="main">
            <td class="h1">
              {{{ content.hero.title }}}
            </td>
          </tr>
          {{spacer 16}}

          <tr>
            <td class="p">
              {{{ content.hero.excerpt }}}
            </td>
          </tr>
          {{spacer 16}}

          {{#if content.hero.ceus}}
            <tr>
              <td class="col-6">

                <table align="center" class="ceu">
                  <tr>
                    <td>&nbsp;</td>
                  </tr>

                  <tr>
                    <td valign="middle">
                      <span class="ceus">
                        <a href="{{ content.hero.link }}" target="_blank" class="">
			                    Click here and earn {{{content.hero.ceus}}} CEU's &emsp;
	                      </a>
	                    </span>
                    </td>
                  </tr>

                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table>

              </td>
            </tr>


            {{spacer 16}}
            {{else}}
						{{#if content.hero.link }}
            <tr>
              <td class="align-center">
                <a href="{{ content.hero.link }}" target="_blank" class="btn btn-default">{{{ content.hero.linkText }}}</a>
              </td>
            </tr>
						{{/if}}


            {{spacer 32}}
          {{/if}}
          <!-- end lead -->


    </table>
      <!-- end container -->
  </td>
</tr>
<!-- end hero -->
