<!-- featured articles -->
<tr class="featured-articles">
  <td>
    <table class="container">
      <tr>
        <td>
          <!-- header -->
          <table class="header">
            <tr height="16">
              <td class="spacer-16" colspan="2">&nbsp;</td>
            </tr>
            <!-- spacer -->
            {{#each content.articles}} {{#if ready}}

            <tr>
              <td class="col-6">

                <!-- article -->
                <table align="center" valign="top">



                  <tr>
                    <td>
                      <a href="{{ link }}" target="_blank">
                        <img src="{{ thumbnail }}" width="590">
                      </a>
                    </td>
                  </tr>
                  <tr height="16">
                    <td class="spacer-16">&nbsp;</td>
                  </tr>

                  <tr>
                    <td class="h2 light-text align-center">
                      {{{ title }}}
                    </td>
                  </tr>



                  <!-- spacer -->
                  <tr height="32">
                    <td class="spacer-32">&nbsp;</td>
                  </tr>


                  <tr>
                    <td class="p light-text">
                      {{{ excerpt }}}
                    </td>
                  </tr>

                  <tr height="16">
                    <td class="spacer-16">&nbsp;</td>
                  </tr>
                  <!-- spacer -->

                  <tr>
                    <td class="col-6 align-center light-text">
                      <a href="{{ link }}" title="{{more}}" target="_blank">
                        <button role="button" class="btn btn-default">
                          {{{ more }}}
                        </button>

                      </a>
                    </td>
                  </tr>

                  <!-- spacer -->
                  <tr height="16">
                    <td class="spacer-16">&nbsp;</td>
                  </tr>
                  {{#if ceus}}
                  <tr>
                    <td class="h3 dark-text" bgcolor="#91d6e6" style="vertical-align: baseline;">
                      <p class="h3 align-center" style="margin: 1rem">
                        <a href="{{ link }}" title="{{more}}" target="_blank">
                GET: {{ceus}} CEU's
                  </a>
                      </p>
                    </td>
                  </tr>
                  <tr height="32">
                    <td class="spacer-32"></td>
                  </tr>
                  {{/if}}
                </table>
                <!-- end article -->
              </td>
            </tr>
            {{/if}} {{/each}}
          </table>
          <!-- end header -->
        </td>
      </tr>
    </table>
    <!-- end container -->
  </td>
</tr>
<!-- end featured articles -->
