<!-- footer -->
<tr class="footer">
	<td>
		<table class="container">
			<tr height="32">
				<td colspan="2" class="spacer-32">&nbsp;</td>
			</tr>
			<!-- spacer -->
			<tr>
				<td class="col-2">
					<table>
						<tr>
							<td class="p light-text">
								Turn your passion into a career! Call a Career Advisor today: <span style="white-space: nowrap;">{{ nccpt.phone }}</span>
							</td>
						</tr>
						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<!-- spacer -->
						<tr>
							<td class="p light-text">
								&copy; {{ nccpt.company }}
							</td>
						</tr>
					</table>
					<!-- end col 2 -->
				</td>
				<td class="col-4">
					<table>
						<tr>
							<td align="center">
								<a href="{{ nccpt.url }}" target="_blank">
									<img src="{{ nccpt.logo }}" alt="{{ nccpt.company }}">
								</a>
							</td>
						</tr>
					</table>
					<!-- end col 2 -->
				</td>
			</tr>
			<tr height="32">
				<td colspan="2" class="spacer-32">&nbsp;</td>
			</tr>
			<!-- spacer -->
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end footer -->
