<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ subject }}</title>
  <meta property="og:title" content="{{ subject }}" />
  <meta property="og:image" content="{{ og.image }}" />
  <meta property="og:site_name" content="{{ company }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ og.url }}" />
  <meta property="og:description" content="{{ og.description}}" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@NCCPT">
  <meta name="twitter:title" content="{{ subject }}">
  <meta name="twitter:description" content="{{ og.description}}" />
  <meta name="twitter:image" content="{{ twitter.image }}">

  <link href="nccpt.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
  <span class="preheader"> {{ subject }} </span>
  <table class="body" cellspacing="0" cellpadding="0" border="0">
