<!-- ads -->
		<tr class="ads">
			<td>
				<table class="container">
<tr height="32"><td class="spacer-32">&nbsp;</td></tr><!-- spacer -->

					<tr>
						{{#each nccpt-vars.ads}}
						<td class="col-3">

							<table>
								<tr>
									<td align="center">
										<img src="{{ thumbnail }}" alt="{{ title }}">
									</td>
								</tr>

								<tr height="16"><td class="spacer-16">&nbsp;</td></tr><!-- spacer -->

								<tr>
									<td valign="top" class="h3">
										{{ title }}
									</td>
								</tr>

								<tr height="16"><td class="spacer-16">&nbsp;</td></tr><!-- spacer -->

								<tr>
									<td class="p">
									{{{ blurb }}}
									</td>
								</tr>

								<tr height="16"><td class="spacer-16">&nbsp;</td></tr><!-- spacer -->

								<tr>
									<td align="center">
										<a href="{{ link }}" target="_blank" class="btn btn-default">{{link-text}}</a>
									</td>
								</tr>

								{{#if promo-code }}
								<tr height="16"><td class="spacer-16">&nbsp;</td></tr><!-- spacer -->

								<tr>
									<td class="p" align="center">use promo code: <strong>{{promo-code}}</strong>
									</td>
								</tr>
								{{/if}}

								<tr height="16"><td class="spacer-16">&nbsp;</td></tr><!-- spacer -->
							</table>

						</td>
						{{/each}}
					</tr>

				<tr height="32"><td class="spacer-32">&nbsp;</td></tr><!-- spacer -->

				</table>
			</td>
		</tr>
		<!-- end ads -->
