{{#if content.oneUp.ready }}
<!-- oneUp -->
<tr class="oneUp">
  <td>
    <table class="container">

      <!-- spacer -->
      <tr height="32">
        <td class="spacer-32">&nbsp;</td>
      </tr>

      <tr>
        <td>
          <!-- content -->
          <table class="col-6">

            <!-- thumbnail -->
            <tr>
              <td>
                <a href="{{ content.oneUp.link }}" target="_blank">
                  <img src="{{ content.oneUp.thumbnail }}">
                </a>
              </td>
            </tr>

            <!-- spacer -->
            <tr height="16">
              <td class="spacer-16">&nbsp;</td>
            </tr>


            <!-- headline -->
            <tr>
              <td class="h1">
                {{{ content.oneUp.headline }}}
              </td>
            </tr>

            <!-- spacer -->
            <tr height="16">
              <td class="spacer-16">&nbsp;</td>
            </tr>


            <!-- blurb -->
            <tr>
              <td class="p">
                {{{ content.oneUp.blurb }}}
              </td>
            </tr>

            <!-- spacer -->
            <tr height="16">
              <td class="spacer-16">&nbsp;</td>
            </tr>


            {{#if price}}
            <!-- price -->
            <tr>
              <td class="h3">
                {{ content.oneUp.price }}
              </td>
            </tr>
            <!-- spacer -->
            <tr height="16">
              <td class="spacer-16">&nbsp;</td>
            </tr>
            {{/if}}


            <!-- link button -->
            <tr>
              <td class="col-6">
                <!-- wVideo -->
                <table id="wVideo" width="590">
                  <tr>
                    <td class="align-center col-3">
                      <a href="{{ content.oneUp.link }}" target="_blank" class="btn btn-default align-center">{{{ content.oneUp.linkText }}}</a>
                    </td>

                    <td class="align-center col-3">
                      <a href="https://vimeo.com/142278762" target="_blank" class="btn btn-default align-center">Preview Course Here</a>
                    </td>
                  </tr>
                </table>
                <!-- end wVideo-->
              </td>
            </tr>

            <!-- spacer -->
            <tr height="16">
              <td class="spacer-16">&nbsp;</td>
            </tr>


            {{#if promoCode}}
            <!-- promocode -->
            <tr>
              <td class="p">
                Coupon Code: {{ content.oneUp.promoCode }}
              </td>
            </tr>
            {{/if}}

          </table>
          <!-- end content-->
        </td>
      </tr>

      <!-- spacer -->
      <tr height="32">
        <td class="spacer-32">&nbsp;</td>
      </tr>

    </table>
    <!-- end container -->
  </td>
</tr>
<!-- end oneUp -->
{{/if}}