{{#if content.oneUp.ready }}
<!-- oneUp -->
<tr class="oneUp">
  <td>
    <table class="container">

      <!-- spacer -->
      <tr height="32">
        <td class="spacer-32">&nbsp;</td>
      </tr>

      <tr>
        <td>
          <!-- content -->
          <table class="col-6">

            <!-- thumbnail -->
            <tr>
              <td>
                <a href="{{ content.oneUp.link }}" target="_blank">
                  <img src="{{ content.oneUp.thumbnail }}">
                </a>
              </td>
            </tr>

            <!-- spacer -->
            <tr height="16">
              <td class="spacer-16">&nbsp;</td>
            </tr>


            <!-- headline -->
            <tr>
              <td class="h1">
                {{{ content.oneUp.headline }}}
              </td>
            </tr>

            <!-- spacer -->
            <tr height="16">
              <td class="spacer-16">&nbsp;</td>
            </tr>


            <!-- blurb -->
            <tr>
              <td class="p">
                {{{ content.oneUp.blurb }}}
              </td>
            </tr>

            <!-- spacer -->
            <tr height="16">
              <td class="spacer-16">&nbsp;</td>
            </tr>

            {{#if content.oneUp.price}}
            <tr>
              <td>
                <table width="590">
                  <!-- promocode -->
                  <tr class="col-6">
                    <td class="h1 align-right" style="vertical-align: baseline;">
                      Only {{ content.oneUp.price }}!
                    </td>
                    {{#if content.oneUp.promoCode}}
                    <td class="col-spacer" style="vertical-align: baseline;"></td>
                    <td class="align-left" style="vertical-align: baseline;">
                      Use Promo Code: <strong> {{ content.oneUp.promoCode }}</strong>
                    </td>
                    {{/if}}
                  </tr>
                  <!-- spacer -->
                  <tr height="16">
                    <td class="spacer-16">&nbsp;</td>
                  </tr>
                </table>
              </td>
            </tr>
            {{/if}}


            <!-- link button -->
            <tr>
              <td class="col-6">
                <!-- wVideo -->
                <table id="wVideo" width="590">
                  <tr>
                    <td class="align-center col-3">
                      <a href="{{ content.oneUp.link }}" target="_blank" class="align-center">
                        <button role="button" class="btn btn-default">
                          {{{ content.oneUp.linkText }}}
                        </button>
                      </a>
                    </td>
                  </tr>
                </table>
                <!-- end wVideo-->
              </td>
            </tr>
          </table>
          <!-- end content-->
        </td>
      </tr>
      <!-- spacer -->
      <tr height="32">
        <td class="spacer-32">&nbsp;</td>
      </tr>
    </table>
    <!-- end container -->
  </td>
</tr>
<!-- end oneUp -->
{{/if}}
