<!-- post2 -->
<tr class="workshops">
	<td>
		<table class="container">
			{{spacer 32}}
			<tr>
				<td class="col-6">
					<!-- post2 copy -->
					<table>
						<tr>
							<td class="h2 light-text" style="text-align: center;">
								{{{ content.post2.headline }}}
							</td>
						</tr>
						{{spacer 16}}
						<tr>
							<td>
								<a href="{{ content.post2.link }}" target="_blank">
									<img src="{{ content.post2.thumbnail }}" width="200" style="margin: 0 auto; display: block;" alt="{{ content.post2.headline }}"> </a>
							</td>
						</tr>
						{{spacer 16}}
						<!-- blurb -->
						<tr>
							<td class="p light-text">
								{{{ content.post2.copy }}}
							</td>
						</tr>
						{{spacer 16}}
					</table>
					<!-- end post2 copy -->
				</td>
			</tr>
			{{spacer 32}}
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end post2 -->
