{{#if content.twoUpAds }}
<!-- ads -->
<tr class="ads">
	<td>
		<table class="container">
			{{spacer 32}}

			<tr class="grid">
				{{#each content.twoUps }}
				<td class="col-3">

					<table>
						<tr>
							<td align="center">
								<img src="{{ thumbnail }}" width="285" alt="{{ title }}">
							</td>
						</tr>

						{{spacer 16}}


						<tr>
							<td valign="top" class="h3">
								{{{ title }}}
							</td>
						</tr>

						{{spacer 16}}

						<tr>
							<td class="p">
								{{{ blurb }}}
							</td>
						</tr>

						{{spacer 16}}

						<tr>
							<td align="center">
								<a href="{{ link }}" target="_blank" class="btn btn-default">{{link-text}}</a>
							</td>
						</tr>

						{{#if promo-code }}
						{{spacer 16}}

						<tr>
							<td class="p" align="center">use promo code: <strong>{{promo-code}}</strong>
							</td>
						</tr>
						{{/if}}

						{{spacer 16}}
					</table>

				</td>

				{{/each}}
			</tr>

			{{spacer 32}}

		</table>
	</td>
</tr>
<!-- end ads -->
{{/if}}
