<!-- workshops -->
<tr class="workshops">
	<td>
		<table class="container">
			{{spacer 32}}
			<tr>
				<td class="col-6">
					<!-- workshop copy -->
					<table>
						<tr>
							<td class="h2 light-text">
								{{{ content.workshops.headline }}}
							</td>
						</tr>
						{{spacer 16}}
						<tr>
							<td>
								<a href="{{ content.workshops.link }}" target="_blank">
									<img src="{{ content.workshops.thumbnail }}" alt="{{ content.workshops.headline }}"> </a>
							</td>
						</tr>
						{{spacer 16}}
						<!-- blurb -->
						<tr>
							<td class="p light-text">
								{{{ content.workshops.copy }}}
							</td>
						</tr>
						{{spacer 16}}
						<!-- link -->
						<tr>
							<td class="h2 align-center">
								<a href="{{ content.workshops.link }}" target="_blank" class="btn btn-default" style="color: white">{{{ content.workshops.linkText }}}</a>
							</td>
						</tr>
					</table>
					<!-- end workshop copy -->
				</td>
			</tr>
			{{spacer 32}}
			{{#if content.workshops.dates }}
			<tr>
				<td>
					<table cellpadding="6" class="table">
						<tr class="table-header" height="20">
							<th class="light-text align-left col-2">
								Date
							</th>
							<th class="light-text align-left col-4">
								Location
							</th>
						</tr>
						{{#each content.workshops.dates }}
						<tr height="20">
							<td class="light-text col-2">
								{{ date }}
							</td>
							<td class="light-text col-4">
								{{ location }}
							</td>
						</tr>
						{{/each}}
					</table>
				</td>
			</tr>
			{{spacer 32}}
			{{/if}}
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end workshops -->
