---
layout: "sf-power-house.hbs"
subject: "World Gym"
date: "September 15, 2015"
preview-text: "Welcome to the family."
---

<!--  -->
<tr>
	<td>
		<table class="container" style="background-color: white">

<!-- spacer --><tr height="8"><td class="spacer-8">&nbsp;</td></tr>
			<tr>
				<td class="col-spacer"></td>
				<td>
					<a href="{{smart-fitness.url}}" target="_blank">
						<img src="http://static.nccpt.com/images/151023-sf-update.jpg" alt="Smart Fitness learning center.">
					</a>
				</td>
				<td class="col-spacer"></td>
			</tr>

			<!-- spacer --><tr colspan="3" height="32"><td class="spacer-32">&nbsp;</td></tr>
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end container row -->


<!-- sale-copy -->
<tr class="sales-copy">
	<td>
		<table class="container">
			<tr>
				<td class="col-spacer">&nbsp;</td>
				<td>

					<!--  -->
					<table>
						<tr>
							<td class="h2" align="center">
								Build your dream team with our online education!
							</td>
						</tr>
						<!-- spacer -->
						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<!-- copy -->
						<tr class="copy">
							<td>
								<table>
									<tr>
										<td class="col=3">
											<!--  -->
											<table>
												<tr>
													<td>
														<ul>
															<li>Personal Training Certification</li>
															<li>Indoor Cycling Certification</li>
															<li>Group Exercise Certification</li>
															<li>Weight Management Specialist</li>
															<li>Continuing Education and Recertification</li>
															<li>Jeffrey Gitomer Sales Training</li>
															<li>Casey Conrad&rsquo;s Health Club Sales</li>
															<li>Casey Conrad&rsquo;s Personal Training Sales</li>
														</ul>
													</td>
												</tr>
											</table>
											<!-- end -->
										</td>
										<td class="col-spacer">&nbsp;</td>
										<td class="col=3">
											<!--  -->
											<table>
												<tr>
													<td>
														<ul>
															<li>OSHA Safety Training</li>
															<li>Exercise Equipment Training</li>
															<li>CPR/AED Certification</li>
															<li>Sexual Harassment Prevention Education&nbsp;</li>
															<li>Member Experience powered by Club Works</li>
															<li>Track certification expiration dates</li>
															<li>Report Cards for staff accountability</li>
														</ul>
													</td>
												</tr>
											</table>
											<!-- end -->
										</td>
									</tr>
								</table>
								<!-- end container -->
							</td>
						</tr>
						<!-- spacer -->
						<tr height="32">
							<td class="spacer-32">&nbsp;</td>
						</tr>
						<tr><td class="h3" align="center">
							All this and more is just one click away&hellip;</td></tr>



						<!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr>
						<!-- end copy -->
					</table>
					<!-- end -->



				</td>
				<td class="col-spacer">&nbsp;</td>
			</tr>
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end sale-copy -->

<!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr>

<!-- ph-footer -->
<tr >
	<td>
		<table class="container" style="background-color: white">
			<tr>
				<td class="col-spacer">
					&nbsp;
				</td>

				<td><!--  -->
				<table>
					<!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr>
					<tr>
						<td class="p">To learn more about this offer call {{{ smart-fitness.phone }}}, or email <a href="mailto:{{smart-fitness.email }}">{{{smart-fitness.email }}}</a> or visit:
							</td>
					</tr>
					<!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr>
					<tr>
						<td class="h2" align="center">
							<a href="{{smart-fitness.url}}" target="_blank">
							<img src="{{ smart-fitness.logo }}" alt="{{ smart-fitness.company }}">
							</a>
						</td></tr>
					<!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr>
				</table>
				<!-- end -->	</td>

					<td class="col-spacer">
					&nbsp;
				</td>
			</tr>
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end ph-footer -->

<!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr>
