---
layout: "sf-power-house.hbs"
subject: "survey"
date: "Oct 16, 2015"
preview-text: "It's a survey!!! yay!!!"
---

<!--  -->
<tr>
	<td>
		<table class="container" style="background-color: white">

<!-- spacer --><tr height="8"><td class="spacer-8">&nbsp;</td></tr>
			<tr>
				<td class="col-spacer"></td>
				<td>
					<a href="https://www.surveymonkey.com/r/RBP93GN" target="_blank"><img src="http://static.nccpt.com/images/151016-survey.jpg" alt="be the monkey, do the survey!" width="590"></a>
				</td>
				<td class="col-spacer"></td>
			</tr>
			<!-- spacer -->
			<tr height="8">
				<td colspan="3" class="spacer-8">&nbsp;</td>
			</tr>
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end  -->
<!-- ph-header -->
<tr >
	<td>
		<table class="container" style="background-color: white">
			<tr>
				<td class="col-spacer">&nbsp;</td>

				<td>
					<!-- nothing -->
					<table>
						<tr>
							<td class="h2">
								Take the survey
							</td>
						</tr>
						<!-- spacer -->
						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<tr>
							<td>
								<p><Greeting /></p>
								<p>Your feedback is with Smart Fitness is greatly appreciated. Please take part in this 4 question survey, to help us make your experience with us better.</p>
								<p>Thank you for being a part of our Smart Fitness family.</p>
							</td>
						</tr>
						<!-- exiration date removed. -->
						<!-- spacer -->


						<tr height="32">
							<td class="spacer-32">&nbsp;</td>
						</tr>

						<tr>
							<td class="h3" align="center">
								Take the survey&hellip;
							<a href="https://www.surveymonkey.com/r/RBP93GN" class="btn btn-default" target="_blank">Click Here.</a>
							</td>
						</tr>
						<!-- spacer -->
						<tr height="32">
							<td class="spacer-32">&nbsp;</td>
						</tr>

					</table>
					<!-- end nothing-->
				</td>

				<td class="col-spacer">&nbsp;</td>
			</tr>
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end ph-header -->
<!-- spacer -->
<tr height="32" >
	<td class="spacer-32">&nbsp;</td>
</tr>



<!-- ph-footer -->
<tr >
	<td>
		<table class="container" style="background-color: white">
			<tr>
				<td class="col-spacer">
					&nbsp;
				</td>

				<td><!--  -->
				<table>
					<!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr>
					<tr>
						<td class="p">To learn more about this offer call {{{ smart-fitness.phone }}}, or email <a href="mailto:{{smart-fitness.email }}">{{{smart-fitness.email }}}</a> or visit:
							</td>
					</tr>
					<!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr>
					<tr>
						<td class="h2" align="center">
							<a href="{{smart-fitness.url}}" target="_blank">
							<img src="{{ smart-fitness.logo }}" alt="{{ smart-fitness.company }}">
							</a>
						</td></tr>
					<!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr>
				</table>
				<!-- end -->	</td>

					<td class="col-spacer">
					&nbsp;
				</td>
			</tr>
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end ph-footer -->

<!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr>
