---
date: November 06, 2015
subject: NCCPT November Lift Newsletter.
---
<!-- affiliate -->
<tr class="">
	<td>
		<table class="container affiliate">
			<!-- spacer -->
			<tr height="32">
				<td class="spacer-32">&nbsp;</td>
			</tr>
			<!-- end spacer -->
			<tr>
				<td class="col-2">
					<!-- thumbnail -->
					<table id="thumbnail">
						<tr>
							<td>
								<!--thumbnail-->
								<a href="{{special.link}}" target="_blank">
									<img src="{{special.thumbnail}}" target="blank" alt="{{special.alt}}" width="200">
								</a>
							</td>
						</tr>
					</table>
					<!-- end thumbnail-->
				</td>
				<td class="col-spacer"> </td>
				<td>
					<!-- special   -->
					<table id="special  ">
						<tr>
							<td class="h2 ">
								{{{special.headline}}}
							</td>
						</tr>
						<!-- spacer -->
						<tr height="24">
							<td class="spacer-24">&nbsp;</td>
						</tr>
						<tr>
							<td class="p">
								{{{special.excerpt}}}
							</td>
						</tr>
						<!-- spacer -->
						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<tr>
							<td><a href="{{special.link}}" class="btn btn-default" target="_blank">{{{special.linkText}}}</a></td>
						</tr>
					</table>
					<!-- end special  -->
				</td>
			</tr>
			<!-- spacer -->
			<tr height="32">
				<td class="spacer-32">&nbsp;</td>
			</tr>
			<!-- end spacer -->
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end affiliate -->
