---
layout: nccpt-black-friday
---
{{spacer 32}}
<!-- main -->
<tr class="main">
  <td>
    <table class="container">

      <tr>
				{{col-spacer}}
        <td class="content">
          <table>
            <tr>
              <td class="h1">
                President's Message
              </td>
            </tr>
            {{spacer 32}}
            <tr>
              <td class="p">
                {{#markdown}} {{ body }} {{/markdown}}
              </td>
            </tr>
          </table>
        </td>
				{{col-spacer}}
      </tr>
    </table>
    <!-- end container -->
  </td>
</tr>
<!-- end main -->
{{spacer 32}}
